<!DOCTYPE html>
<html>
  <head>
    <title>Atos</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- (typeof mainNav != 'undefined' ? mainNav : '') %>
    <% include ./partials/flashMessage %>
    <%- body %>
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/validate/validate.min.js"></script>

    <%- script %>
    <script src="/js/validation/validator.js"></script>

    <% if (typeof actionScript != 'undefined') { %>
        <script src="/js/actions/<%- actionScript %>"></script>
    <% } %>
  </body>
</html>
