<% if(typeof req != 'undefined') { %>
    <% req.flash('error').forEach(function (error) { %>
        <div class='header alert alert-danger alert-dismissible'>
            <strong><i class="fa fa-exclamation-circle"></i> ERROR:</strong> <%= error %>
            <a href="#" class='close' data-dismiss="alert" aria-label="close"><i class='fa fa-times'></i></a>
        </div>
    <% }); %>
    <% req.flash('warning').forEach(function (warning) { %>
        <div class='header alert alert-warning alert-dismissible'>
            <strong><i class="fa fa-check-circle"></i> Warning:</strong> <%= warning %>
            <a href="#" class='close' data-dismiss="alert" aria-label="close"><i class='fa fa-times'></i></a>
        </div>
    <% }); %>
    <% req.flash('success').forEach(function (success) { %>
        <div class='header alert alert-success alert-dismissible'>
            <strong><i class="fa fa-check-circle"></i> Success!</strong> <%= success %>
            <a href="#" class='close' data-dismiss="alert" aria-label="close"><i class='fa fa-times'></i></a>
        </div>
    <% }); %>
<% } %>