<h1> Welcome to Atos Framework</h1>
<h3>Congratulations! You have successfully installed Atos Skeleton Application. <br />
Atos is based on <a href="https://expressjs.com/">Express</a> and supports ES6</h3>