<script src="/js/validation/constraints/loginForm.js"></script>
<h3>Login Form</h3>
<form method="post" data-constraints="loginForm">
    <div>
        <input name="username" type="text" placeholder="Username"/>
        <span class="error"></span>
    </div>
    <div>
        <input name="password" type="password" placeholder="Password"/>
        <span class="error"></span>
    </div>
    <input type="submit"/>
</form>